<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/styles/catalogStyle.css">
<title>Catalog</title>
</head>
<body>
	<div th:replace="~{banner}"></div>

	<th:block th:if="${article != null}">
	<h2>You have added following article into the cart:<br><th:block th:text="${article.getName()}"/></h2>
	</th:block>

	<th:block th:if="${cart.getCartItems().size() != 0}">
		<div class ="catalogLink">
		<p><a href ="/dispatchAction/showCart">Show Cart</a></p>
		</div>
	</th:block>

	<table>
		<tr><th>Article Name: </th><th>Price: </th></tr>
		<th:block th:each="article: ${articles}">
			<tr>
				<td><a th:href ="@{/dispatchAction/showArticle(articleId=${article.getArticleId()})}" th:text="${article.getName()}"></a></td>
				<td th:text="${article.getPrice()} + ' Euro'"></td>
				<td><a th:href ="@{/dispatchAction/addArticle(articleId=${article.getArticleId()})}">Add article</a></td>
			</tr>
		</th:block>
	</table>

	<div th:replace="~{imprint}"> </div>
</body>
</html>