<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please log In</title>
</head>
<body>
    <div th:replace="~{banner}"></div>

    <h1>Please Log In</h1>
<!--    <div th:if="${param.error}">Invalid username and password.</div>-->
<!--    <div th:if="${param.logout}">You have been logged out.</div>-->

    <form th:action="@{/dispatchAction/redirectCustomer}" method="post">
        <div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input type="text" name="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Log in"/>
<!--        <input type="button" value="Cancel" onclick="window.location='/dispatchAction/showCatalog';"/>-->
    </form>

    <form th:action="@{/dispatchAction/register}" method="get">
        <input type="submit">
    </form>

    <div th:replace="~{imprint}"> </div>

</body>
</html>