<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/styles/receiptStyle.css">
<title>Receipt</title>
</head>
<body>
	<th:block th:replace="banner"/>

		<p th:text="'The following ' + ${cart.getNumberOfArticles()} + ' are ordered for the user ' + ${name} + ' Credit card number: ' + ${iban}"></p>
		<table>
			<tr>
				<th><h3>Quantity</h3></th>
				<th><h3>Title</h3></th>
				<th><h3>Price</h3></th>				
			</tr>
			<th:block th:each="cartItem : ${cartItems}">
			<tr>
				<td align=center th:text="${cartItem.getQuantity()}"></td>
				<td th:text="${cartItem.getArticle().getName()}"></td>
				<td th:text="${cartItem.getArticle().getPrice()} + ' EURO'"></td>
			</tr>
			</th:block>
			<tr>
				<td style=border:none></td><td align=right>Total Price: </td><td th:text="${cart.getTotalPrice()} + ' EURO'"></td>
			</tr>
		</table>
		
		<p>Thank you!</p>
		<p><a href="/dispatchAction/showCatalog">Back to Catalog</a></p>

	<th:block th:replace="imprint"/>
</body>
</html>