@charset "UTF-8";

header {
	padding:50px;
	text-align:center;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	
}

h1 {
	color:red;
	text-shadow: 1px 1px 2px black, 0 0 5px darkred;
	font-size: 40px;
}